nav ul li {
    display: inline-block;
    color: gray;
    margin-bottom: 25px;
    margin-right: 3%;
}
nav a {
    color: gray;
    text-decoration: none;
}
img {
    float: right;
}

h1 {
    margin-top: 0;
}